.mapTile {
  cursor: pointer;
  filter: saturate(50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}

.selected {
    border-color: green;
    filter: saturate(100%);
}

.disabled {
    filter: saturate(0%);
    cursor: not-allowed;
}

.mapTile:hover {
  background-color: #f0f0f0;
}