.floatingButton {
    position: absolute;
    background: #ffffff;
    color: rgb(235, 100, 100);
    border: none;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 10px #FA9C1D;
    padding: 0.8rem;
    z-index: 5;
  }
  
  .floatingButton:hover {
    background: #e0e0e0;
  }
  
  .floatingButton:active {
    background: #a3a3a3;
  }
  
  .floatingButton:focus {
    outline: none;
  }